{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "DexCheck API",
    "description": "DexCheck API Documentation combining Free and Paid APIs"
  },
  "servers": [
    {
      "url": "https://api.dexcheck.ai/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Free APIs",
      "description": "Free tier endpoints"
    },
    {
      "name": "Paid APIs",
      "description": "Paid tier endpoints"
    },
    {
      "name": "Pricing Data",
      "description": "Real-time price endpoints"
    },
    {
      "name": "Token Stats",
      "description": "Volume, liquidity, market-cap and transaction stats"
    },
    {
      "name": "Pair Metadata",
      "description": "Metadata for DEX liquidity pairs"
    },
    {
      "name": "Transaction History",
      "description": "Recent swap/buy/sell history"
    },
    {
      "name": "Top Traders for Pair",
      "description": "PnL analytics for pair traders"
    },
    {
      "name": "Search Tokens",
      "description": "Token search by name, symbol or address"
    },
    {
      "name": "Top Volume Pairs",
      "description": "Top-volume pair queries with filters"
    },
    {
      "name": "New Pairs",
      "description": "Newly created pairs"
    },
    {
      "name": "OHLC Charts",
      "description": "OHLC candle data"
    },
    {
      "name": "Whale Tracker",
      "description": "Large transaction monitoring"
    },
    {
      "name": "KOL Index",
      "description": "Key Opinion Leader performance ranking"
    },
    {
      "name": "KOL Details",
      "description": "Individual KOL token movements"
    },
    {
      "name": "Token Mentions",
      "description": "Details of token's mentions by KOLs"
    },
    {
      "name": "PnL Single-Token",
      "description": "Realized profit by single-token trading"
    },
    {
      "name": "PnL Unrealized",
      "description": "Unrealized profit based on current holdings"
    },
    {
      "name": "PnL Total",
      "description": "Total profit across all tokens"
    },
    {
      "name": "Historical Data",
      "description": "Historical data details for a pair"
    },
    {
      "name": "Price Alerts",
      "description": "Price alert webhook management"
    },
    {
      "name": "Cex Flow",
      "description": "Cex Flow data and statistics"
    },
    {
      "name": "Hype Tracker",
      "description": "Hype Tracker data"
    }
  ],
  "paths": {
    "/blockchain/dex-price": {
      "get": {
        "tags": [
          "Free APIs",
          "Pricing Data"
        ],
        "summary": "Fetch real-time DEX price",
        "description": "Get real-time price and other metrics for a DEX pair or token",
        "operationId": "getDexPrice",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "eth",
                "bsc",
                "base"
              ]
            },
            "description": "Blockchain Identifier"
          },
          {
            "name": "pair_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pair ID"
          },
          {
            "name": "token_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Token ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Price data returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usd_price": {
                      "type": "number",
                      "example": 0.00000337605712771124
                    },
                    "_24h_swaps": {
                      "type": "number",
                      "example": 444
                    },
                    "_24h_traders": {
                      "type": "number",
                      "example": 202
                    },
                    "liquidity_usd": {
                      "type": "number",
                      "example": 160612.7513177652
                    },
                    "mcap": {
                      "type": "number",
                      "example": 1183236
                    },
                    "volume": {
                      "type": "number",
                      "example": 204310.52238369908
                    },
                    "base_token_id": {
                      "type": "string",
                      "example": "0x7607546645655d4e93ea6839a55339263b3e4986"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Validation Failed"
                    },
                    "detail": {
                      "type": "string",
                      "default": "One or more fields failed validation."
                    },
                    "invalid_fields": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "default": "Field required"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Missing API key"
                    },
                    "detail": {
                      "type": "string",
                      "default": "API key is required. Provide it in X-API-Key header."
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T10:50:10.607351+00:00"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Rate limit exceeded for endpoint"
                    },
                    "endpoint": {
                      "type": "string",
                      "example": "{endpoint}"
                    },
                    "retry_after": {
                      "type": "string",
                      "example": "10"
                    },
                    "current_usage": {
                      "type": "string",
                      "example": "1"
                    },
                    "limit": {
                      "type": "string",
                      "example": "1"
                    },
                    "reset_time": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/blockchain/token-stats": {
      "get": {
        "tags": [
          "Free APIs",
          "Token Stats"
        ],
        "summary": "Fetch token statistics",
        "description": "Get volume, liquidity, market-cap and transaction stats for a token",
        "operationId": "getTokenStats",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "eth",
                "bsc",
                "base"
              ]
            },
            "description": "Blockchain Identifier"
          },
          {
            "name": "pair_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pair ID"
          },
          {
            "name": "token_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Token ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Token stats returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usd_price": {
                      "type": "number",
                      "example": 0.029229736591232274
                    },
                    "volume": {
                      "type": "number",
                      "example": 5552083.981237137
                    },
                    "liquidity_usd": {
                      "type": "number",
                      "example": 1996076.3529157413
                    },
                    "mcap": {
                      "type": "number",
                      "example": 111076.29247013926
                    },
                    "_24h_swaps": {
                      "type": "number",
                      "example": 15279
                    },
                    "_24h_traders": {
                      "type": "number",
                      "example": 3027
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Validation Failed"
                    },
                    "detail": {
                      "type": "string",
                      "default": "One or more fields failed validation."
                    },
                    "invalid_fields": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "default": "Field required"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Missing API key"
                    },
                    "detail": {
                      "type": "string",
                      "default": "API key is required. Provide it in X-API-Key header."
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T10:50:10.607351+00:00"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Rate limit exceeded for endpoint"
                    },
                    "endpoint": {
                      "type": "string",
                      "example": "{endpoint}"
                    },
                    "retry_after": {
                      "type": "string",
                      "example": "10"
                    },
                    "current_usage": {
                      "type": "string",
                      "example": "1"
                    },
                    "limit": {
                      "type": "string",
                      "example": "1"
                    },
                    "reset_time": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/blockchain/pair-metadata": {
      "get": {
        "tags": [
          "Free APIs",
          "Pair Metadata"
        ],
        "summary": "Fetch pair metadata",
        "description": "Get metadata for DEX liquidity pairs including token details and metrics",
        "operationId": "getPairMetadata",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "eth",
                "bsc",
                "base"
              ]
            },
            "description": "Blockchain Identifier"
          },
          {
            "name": "pair_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pair ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pair metadata returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token_0_id": {
                      "type": "string",
                      "example": "So11111111111111111111111111111111111111112"
                    },
                    "token_1_id": {
                      "type": "string",
                      "example": "JB2wezZLdzWfnaCfHxLg193RS3Rh51ThiXxEDWQDpump"
                    },
                    "pair_id": {
                      "type": "string",
                      "example": "FYAnFcdjkcfAkbtZqixnTqNVLoDjJft82L5FFgPaSWe3"
                    },
                    "dex": {
                      "type": "string",
                      "example": "raydium"
                    },
                    "chain": {
                      "type": "string",
                      "example": "SOL"
                    },
                    "_24h_swaps": {
                      "type": "number",
                      "example": 15279
                    },
                    "_24h_traders": {
                      "type": "number",
                      "example": 3027
                    },
                    "liquidity_usd": {
                      "type": "number",
                      "example": 1996076.3529157413
                    },
                    "mcap": {
                      "type": "number",
                      "example": 111076.29247013926
                    },
                    "volume": {
                      "type": "number",
                      "example": 5552083.981237137
                    },
                    "price": {
                      "type": "number",
                      "example": 0.029229736591232274
                    },
                    "token_0_decimals": {
                      "type": "integer",
                      "example": 9
                    },
                    "token_1_decimals": {
                      "type": "integer",
                      "example": 6
                    },
                    "token_0_symbol": {
                      "type": "string",
                      "example": "SOL"
                    },
                    "token_1_symbol": {
                      "type": "string",
                      "example": "LABUBU"
                    },
                    "token_0_name": {
                      "type": "string",
                      "example": "Wrapped Solana"
                    },
                    "token_1_name": {
                      "type": "string",
                      "example": "LABUBU"
                    },
                    "created_at": {
                      "type": "integer",
                      "example": 1727939545
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Validation Failed"
                    },
                    "detail": {
                      "type": "string",
                      "default": "One or more fields failed validation."
                    },
                    "invalid_fields": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "default": "Field required"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Missing API key"
                    },
                    "detail": {
                      "type": "string",
                      "default": "API key is required. Provide it in X-API-Key header."
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T10:50:10.607351+00:00"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Rate limit exceeded for endpoint"
                    },
                    "endpoint": {
                      "type": "string",
                      "example": "{endpoint}"
                    },
                    "retry_after": {
                      "type": "string",
                      "example": "10"
                    },
                    "current_usage": {
                      "type": "string",
                      "example": "1"
                    },
                    "limit": {
                      "type": "string",
                      "example": "1"
                    },
                    "reset_time": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/blockchain/tx-history": {
      "get": {
        "tags": [
          "Free APIs",
          "Transaction History"
        ],
        "summary": "Fetch recent transaction history",
        "description": "Get recent swap/buy/sell history for a pair",
        "operationId": "getTxHistory",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "eth",
                "bsc",
                "base"
              ]
            },
            "description": "Blockchain Identifier"
          },
          {
            "name": "pair_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Pair ID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (max 100 items/page)"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction history returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pair": {
                            "type": "string",
                            "example": "GWPLjamb5ZxrGbTsYNWW7V3p1pAMryZSfaPFTdaEsWgC"
                          },
                          "timestamp": {
                            "type": "integer",
                            "example": 1750417378
                          },
                          "maker": {
                            "type": "string",
                            "example": "pCy2UmNoAAPR1uzXZqp2MF3ifJrrg5AdFHcn6ZkzbNr"
                          },
                          "amount_0_in": {
                            "type": "number",
                            "example": 0
                          },
                          "amount_1_in": {
                            "type": "number",
                            "example": 0.49450648
                          },
                          "amount_0_out": {
                            "type": "number",
                            "example": 6390.426119
                          },
                          "amount_1_out": {
                            "type": "number",
                            "example": 0
                          },
                          "usd_price": {
                            "type": "number",
                            "example": 0.011460748396179908
                          },
                          "amount_usd": {
                            "type": "number",
                            "example": 73.23906589423544
                          },
                          "side": {
                            "type": "string",
                            "enum": [
                              "buy",
                              "sell"
                            ],
                            "example": "buy"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Validation Failed"
                    },
                    "detail": {
                      "type": "string",
                      "default": "One or more fields failed validation."
                    },
                    "invalid_fields": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "default": "Field required"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Missing API key"
                    },
                    "detail": {
                      "type": "string",
                      "default": "API key is required. Provide it in X-API-Key header."
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T10:50:10.607351+00:00"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Rate limit exceeded for endpoint"
                    },
                    "endpoint": {
                      "type": "string",
                      "example": "{endpoint}"
                    },
                    "retry_after": {
                      "type": "string",
                      "example": "10"
                    },
                    "current_usage": {
                      "type": "string",
                      "example": "1"
                    },
                    "limit": {
                      "type": "string",
                      "example": "1"
                    },
                    "reset_time": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/blockchain/top-traders-for-pair": {
      "get": {
        "tags": [
          "Free APIs",
          "Top Traders for Pair"
        ],
        "summary": "Fetch top traders for a pair",
        "description": "Get PnL analytics for pair traders",
        "operationId": "getTopTradersForPair",
        "parameters": [
          {
            "name": "pair_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DEX pair ID"
          },
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "solana",
                "eth",
                "bsc",
                "base"
              ]
            },
            "description": "Blockchain identifier"
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1d",
                "7d",
                "30d",
                "60d"
              ]
            },
            "description": "Time window"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (max 100 items/page)"
          }
        ],
        "responses": {
          "200": {
            "description": "Top traders returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "maker": {
                            "type": "string",
                            "example": "BZrwstteiRdjNR9kyudcFYGVyGAxwRv2Q7G7tm4gMjsi"
                          },
                          "token_id": {
                            "type": "string",
                            "example": "6MQpbiTC2YcogidTmKqMLK82qvE9z5QEm7EP3AEDpump"
                          },
                          "overall_profit": {
                            "type": "number",
                            "example": 24765.675714175435
                          },
                          "roi": {
                            "type": "number",
                            "example": -8.17818024296038
                          },
                          "total_trades": {
                            "type": "number",
                            "example": 43
                          },
                          "buy_total_tokens": {
                            "type": "number",
                            "example": 215116.22783699998
                          },
                          "sell_total_tokens": {
                            "type": "number",
                            "example": 2632102.136435
                          },
                          "external_profit": {
                            "type": "number",
                            "example": 24963.562319015542
                          },
                          "buy_total_trades": {
                            "type": "number",
                            "example": 5
                          },
                          "sell_total_trades": {
                            "type": "number",
                            "example": 38
                          },
                          "investment": {
                            "type": "number",
                            "example": 2419.689942765012
                          },
                          "unrealized_profit": {
                            "type": "number",
                            "example": 0
                          },
                          "realized_profit": {
                            "type": "number",
                            "example": -197.8866048401075
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Validation Failed"
                    },
                    "detail": {
                      "type": "string",
                      "default": "One or more fields failed validation."
                    },
                    "invalid_fields": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "default": "Field required"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Missing API key"
                    },
                    "detail": {
                      "type": "string",
                      "default": "API key is required. Provide it in X-API-Key header."
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T10:50:10.607351+00:00"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Rate limit exceeded for endpoint"
                    },
                    "endpoint": {
                      "type": "string",
                      "example": "{endpoint}"
                    },
                    "retry_after": {
                      "type": "string",
                      "example": "10"
                    },
                    "current_usage": {
                      "type": "string",
                      "example": "1"
                    },
                    "limit": {
                      "type": "string",
                      "example": "1"
                    },
                    "reset_time": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/blockchain/search-token": {
      "get": {
        "tags": [
          "Free APIs",
          "Search Tokens"
        ],
        "summary": "Search for tokens",
        "description": "Search for tokens by name, symbol, or address",
        "operationId": "searchToken",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search keyword (name, symbol, or address)"
          },
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Blockchain filter"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (max 50 results/page)"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokens": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_0_id": {
                            "type": "string",
                            "example": "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN"
                          },
                          "token_1_id": {
                            "type": "string",
                            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                          },
                          "pair_id": {
                            "type": "string",
                            "example": "9d9mb8kooFfaD3SctgZtkxQypkshx6ezhbKio89ixyy2"
                          },
                          "dex": {
                            "type": "string",
                            "example": "meteora_dlmm"
                          },
                          "chain": {
                            "type": "string",
                            "example": "SOL"
                          },
                          "token_0_symbol": {
                            "type": "string",
                            "example": "TRUMP"
                          },
                          "token_1_symbol": {
                            "type": "string",
                            "example": "USDC"
                          },
                          "token_0_name": {
                            "type": "string",
                            "example": "OFFICIAL TRUMP"
                          },
                          "token_1_name": {
                            "type": "string",
                            "example": "USDC"
                          },
                          "token_0_decimals": {
                            "type": "integer",
                            "example": 6
                          },
                          "token_1_decimals": {
                            "type": "integer",
                            "example": 6
                          },
                          "usd_price": {
                            "type": "number",
                            "example": 9.377628032345013
                          },
                          "volume": {
                            "type": "number",
                            "example": 54272296.712968
                          },
                          "liquidity": {
                            "type": "number",
                            "example": 355327608.06815857
                          },
                          "mcap": {
                            "type": "number",
                            "example": 10129698873.206942
                          },
                          "created_at": {
                            "type": "integer",
                            "example": 1737196721
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Validation Failed"
                    },
                    "detail": {
                      "type": "string",
                      "default": "One or more fields failed validation."
                    },
                    "invalid_fields": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "default": "Field required"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Missing API key"
                    },
                    "detail": {
                      "type": "string",
                      "default": "API key is required. Provide it in X-API-Key header."
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T10:50:10.607351+00:00"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Rate limit exceeded for endpoint"
                    },
                    "endpoint": {
                      "type": "string",
                      "example": "{endpoint}"
                    },
                    "retry_after": {
                      "type": "string",
                      "example": "10"
                    },
                    "current_usage": {
                      "type": "string",
                      "example": "1"
                    },
                    "limit": {
                      "type": "string",
                      "example": "1"
                    },
                    "reset_time": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/blockchain/top-volume": {
      "post": {
        "tags": [
          "Free APIs",
          "Top Volume Pairs"
        ],
        "summary": "Fetch top volume pairs",
        "description": "Get top-volume pair queries with filters",
        "operationId": "postTopVolume",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chain": {
                    "type": "string"
                  },
                  "filters": {
                    "type": "object",
                    "properties": {
                      "_24h_swaps": {
                        "type": "object",
                        "properties": {
                          "gt": {
                            "type": "number"
                          },
                          "lt": {
                            "type": "number"
                          }
                        }
                      },
                      "_24h_volume": {
                        "type": "object",
                        "properties": {
                          "gt": {
                            "type": "number"
                          },
                          "lt": {
                            "type": "number"
                          }
                        }
                      },
                      "_24h_price_change": {
                        "type": "object",
                        "properties": {
                          "gt": {
                            "type": "number"
                          },
                          "lt": {
                            "type": "number"
                          }
                        }
                      },
                      "_24h_buy_count": {
                        "type": "object",
                        "properties": {
                          "gt": {
                            "type": "number"
                          },
                          "lt": {
                            "type": "number"
                          }
                        }
                      },
                      "_24h_sell_count": {
                        "type": "object",
                        "properties": {
                          "gt": {
                            "type": "number"
                          },
                          "lt": {
                            "type": "number"
                          }
                        }
                      },
                      "liquidity": {
                        "type": "object",
                        "properties": {
                          "gt": {
                            "type": "number"
                          },
                          "lt": {
                            "type": "number"
                          }
                        }
                      },
                      "last_price": {
                        "type": "object",
                        "properties": {
                          "gt": {
                            "type": "number"
                          },
                          "lt": {
                            "type": "number"
                          }
                        }
                      },
                      "mcap": {
                        "type": "object",
                        "properties": {
                          "gt": {
                            "type": "number"
                          },
                          "lt": {
                            "type": "number"
                          }
                        }
                      },
                      "created_at": {
                        "type": "object",
                        "properties": {
                          "gt": {
                            "type": "number"
                          },
                          "lt": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "sort_by": {
                    "type": "string",
                    "enum": [
                      "volume",
                      "swaps",
                      "liquidity",
                      "price_change"
                    ]
                  },
                  "sort_side": {
                    "type": "string",
                    "enum": [
                      "asc",
                      "desc"
                    ]
                  },
                  "page": {
                    "type": "integer"
                  }
                },
                "example": {
                  "chain": "ETH",
                  "filters": {
                    "price": {
                      "gt": 10,
                      "lt": 100
                    },
                    "_24h_volume": {
                      "lt": 100000
                    }
                  },
                  "sort_by": "volume",
                  "sort_side": "desc",
                  "page": 1
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Top volume pairs returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pairs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_0_id": {
                            "type": "string",
                            "example": "0x767fe9edc9e0df98e07454847909b5e959d7ca0e"
                          },
                          "token_1_id": {
                            "type": "string",
                            "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                          },
                          "pair_id": {
                            "type": "string",
                            "example": "0x6a091a3406e0073c3cd6340122143009adac0eda"
                          },
                          "dex": {
                            "type": "string",
                            "example": "sushiswap"
                          },
                          "chain": {
                            "type": "string",
                            "example": "ETH"
                          },
                          "token_0_symbol": {
                            "type": "string",
                            "example": "ILV"
                          },
                          "token_1_symbol": {
                            "type": "string",
                            "example": "WETH"
                          },
                          "token_0_name": {
                            "type": "string",
                            "example": "Illuvium"
                          },
                          "token_1_name": {
                            "type": "string",
                            "example": "Wrapped Ether"
                          },
                          "token_0_decimals": {
                            "type": "integer",
                            "example": 18
                          },
                          "token_1_decimals": {
                            "type": "integer",
                            "example": 18
                          },
                          "usd_price": {
                            "type": "number",
                            "example": 11.321515407492395
                          },
                          "base_token_symbol": {
                            "type": "string",
                            "example": "ILV"
                          },
                          "base_token_id": {
                            "type": "string",
                            "example": "0x767fe9edc9e0df98e07454847909b5e959d7ca0e"
                          },
                          "base_token_decimals": {
                            "type": "integer",
                            "example": 18
                          },
                          "base_token_name": {
                            "type": "string",
                            "example": "Illuvium"
                          },
                          "_24h_volume": {
                            "type": "number",
                            "example": 63877.38321003274
                          },
                          "liquidity": {
                            "type": "number",
                            "example": 5851679.05110254
                          },
                          "mcap": {
                            "type": "number",
                            "example": 107353149
                          },
                          "_24h_price_change": {
                            "type": "number",
                            "example": 0.3686154512902195
                          },
                          "_24h_swaps": {
                            "type": "number",
                            "example": 81
                          },
                          "created_at": {
                            "type": "integer",
                            "example": 1617377140
                          },
                          "_24h_maker_count": {
                            "type": "integer",
                            "example": 54
                          },
                          "_24h_buy_count": {
                            "type": "number",
                            "example": 36
                          },
                          "_24h_sell_count": {
                            "type": "number",
                            "example": 45
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Validation Failed"
                    },
                    "detail": {
                      "type": "string",
                      "default": "One or more fields failed validation."
                    },
                    "invalid_fields": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "default": "Field required"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Missing API key"
                    },
                    "detail": {
                      "type": "string",
                      "default": "API key is required. Provide it in X-API-Key header."
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T10:50:10.607351+00:00"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Rate limit exceeded for endpoint"
                    },
                    "endpoint": {
                      "type": "string",
                      "example": "{endpoint}"
                    },
                    "retry_after": {
                      "type": "string",
                      "example": "10"
                    },
                    "current_usage": {
                      "type": "string",
                      "example": "1"
                    },
                    "limit": {
                      "type": "string",
                      "example": "1"
                    },
                    "reset_time": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/blockchain/new-pairs": {
      "get": {
        "tags": [
          "Free APIs",
          "New Pairs"
        ],
        "summary": "Fetch newly created pairs",
        "description": "Get newly created pairs with their details",
        "operationId": "getNewPairs",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "eth",
                "bnb",
                "solana",
                "base"
              ]
            },
            "description": "Blockchain identifier"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (max 100 items/page)"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "volume",
                "swaps",
                "liquidity",
                "price_change",
                "pair_age"
              ]
            },
            "description": "Sort field"
          }
        ],
        "responses": {
          "200": {
            "description": "New pairs returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pairs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_0_id": {
                            "type": "string",
                            "example": "0x8c23ffd23ca7e80bc79f74dd9025f4e2e0beb8b1"
                          },
                          "token_1_id": {
                            "type": "string",
                            "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                          },
                          "pair_id": {
                            "type": "string",
                            "example": "0x4b742a774a0d93ed7cc54d71b5ef74bf252bc447"
                          },
                          "dex": {
                            "type": "string",
                            "example": "uniswapv2"
                          },
                          "chain": {
                            "type": "string",
                            "example": "ETH"
                          },
                          "token_0_symbol": {
                            "type": "string",
                            "example": "HOTH"
                          },
                          "token_1_symbol": {
                            "type": "string",
                            "example": "WETH"
                          },
                          "token_0_name": {
                            "type": "string",
                            "example": "HotHugs"
                          },
                          "token_1_name": {
                            "type": "string",
                            "example": "Wrapped Ether"
                          },
                          "token_0_decimals": {
                            "type": "integer",
                            "example": 18
                          },
                          "token_1_decimals": {
                            "type": "integer",
                            "example": 18
                          },
                          "usd_price": {
                            "type": "number",
                            "example": 0.00000661090834229105
                          },
                          "base_token_symbol": {
                            "type": "string",
                            "example": "HOTH"
                          },
                          "base_token_id": {
                            "type": "string",
                            "example": "0x8c23ffd23ca7e80bc79f74dd9025f4e2e0beb8b1"
                          },
                          "base_token_decimals": {
                            "type": "integer",
                            "example": 18
                          },
                          "base_token_name": {
                            "type": "string",
                            "example": "HotHugs"
                          },
                          "_24h_volume": {
                            "type": "number",
                            "example": 62.109308236239336
                          },
                          "liquidity": {
                            "type": "number",
                            "example": null
                          },
                          "mcap": {
                            "type": "number",
                            "example": 0
                          },
                          "_24h_price_change": {
                            "type": "number",
                            "example": 0
                          },
                          "_24h_swaps": {
                            "type": "number",
                            "example": 1
                          },
                          "created_at": {
                            "type": "integer",
                            "example": 1750417631
                          },
                          "_24h_maker_count": {
                            "type": "number",
                            "example": null
                          },
                          "_24h_buy_count": {
                            "type": "number",
                            "example": 1
                          },
                          "_24h_sell_count": {
                            "type": "number",
                            "example": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Validation Failed"
                    },
                    "detail": {
                      "type": "string",
                      "default": "One or more fields failed validation."
                    },
                    "invalid_fields": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "default": "Field required"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Missing API key"
                    },
                    "detail": {
                      "type": "string",
                      "default": "API key is required. Provide it in X-API-Key header."
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T10:50:10.607351+00:00"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Rate limit exceeded for endpoint"
                    },
                    "endpoint": {
                      "type": "string",
                      "example": "{endpoint}"
                    },
                    "retry_after": {
                      "type": "string",
                      "example": "10"
                    },
                    "current_usage": {
                      "type": "string",
                      "example": "1"
                    },
                    "limit": {
                      "type": "string",
                      "example": "1"
                    },
                    "reset_time": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/blockchain/charts": {
      "get": {
        "tags": [
          "Free APIs",
          "OHLC Charts"
        ],
        "summary": "Fetch OHLC chart data",
        "description": "Get OHLC candle data for a pair",
        "operationId": "getOhlcCharts",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Blockchain identifier"
          },
          {
            "name": "pair_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DEX pair ID"
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "5m",
                "15m",
                "30m",
                "1h",
                "4h",
                "12h",
                "1d",
                "3d",
                "7d",
                "14d",
                "30d"
              ]
            },
            "description": "Interval in minutes"
          },
          {
            "name": "start_time_epoch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Start time (epoch seconds)"
          },
          {
            "name": "end_time_epoch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "End time (epoch seconds)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (max 1000 items/page)"
          }
        ],
        "responses": {
          "200": {
            "description": "OHLC candles returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "candles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "integer",
                            "example": 1748106000
                          },
                          "open": {
                            "type": "string",
                            "example": "0.8964325125749445"
                          },
                          "close": {
                            "type": "string",
                            "example": "0.889015420151999"
                          },
                          "high": {
                            "type": "string",
                            "example": "0.8990877755545615"
                          },
                          "low": {
                            "type": "string",
                            "example": "0.889015420151999"
                          },
                          "volume": {
                            "type": "string",
                            "example": "45618.391009934568116"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Validation Failed"
                    },
                    "detail": {
                      "type": "string",
                      "default": "One or more fields failed validation."
                    },
                    "invalid_fields": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "default": "Field required"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Missing API key"
                    },
                    "detail": {
                      "type": "string",
                      "default": "API key is required. Provide it in X-API-Key header."
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T10:50:10.607351+00:00"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Rate limit exceeded for endpoint"
                    },
                    "endpoint": {
                      "type": "string",
                      "example": "{endpoint}"
                    },
                    "retry_after": {
                      "type": "string",
                      "example": "10"
                    },
                    "current_usage": {
                      "type": "string",
                      "example": "1"
                    },
                    "limit": {
                      "type": "string",
                      "example": "1"
                    },
                    "reset_time": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/blockchain/whale-tracker": {
      "get": {
        "tags": [
          "Free APIs",
          "Whale Tracker"
        ],
        "summary": "Fetch whale tracker data",
        "description": "Get large transaction monitoring data",
        "operationId": "getWhaleTracker",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Blockchain identifier"
          },
          {
            "name": "min_usd",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Minimum USD value filter"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (max 1000 items/page)"
          }
        ],
        "responses": {
          "200": {
            "description": "Whale tracker data returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "side": {
                            "type": "string",
                            "example": "sell"
                          },
                          "usd_price": {
                            "type": "number",
                            "example": 0.03134995719637804
                          },
                          "pair_id": {
                            "type": "string",
                            "example": "H66r4cb3LrvEZowN6eJZxMVbjrzxmRzPRT7Z6aMEXunb"
                          },
                          "tx_hash": {
                            "type": "string",
                            "example": "3Fyt2gPWpMJNAoZ3yx7BEW8jrXtiBFFro5AVWegjS9haCM4jjme1Wiju3mii4zJprLg6goau6a2faUAmwXLVszh2"
                          },
                          "amount_usd": {
                            "type": "number",
                            "example": 10797.085993926738
                          },
                          "pair": {
                            "type": "string",
                            "example": "Gorbagana/Wrapped Solana"
                          },
                          "epoch_time": {
                            "type": "integer",
                            "example": 1750413537
                          },
                          "exchange": {
                            "type": "string",
                            "example": "pumpfun_amm"
                          },
                          "maker": {
                            "type": "string",
                            "example": "7UkAiqXg5PNYrtjNDSgjRMEuXRaYkc5eePBvepGxLRrG"
                          },
                          "base_id": {
                            "type": "string",
                            "example": "So11111111111111111111111111111111111111112"
                          },
                          "base_name": {
                            "type": "string",
                            "example": "Wrapped Solana"
                          },
                          "base_symbol": {
                            "type": "string",
                            "example": "SOL"
                          },
                          "quote_name": {
                            "type": "string",
                            "example": "Gorbagana"
                          },
                          "quote_symbol": {
                            "type": "string",
                            "example": "GOR"
                          },
                          "token_qty": {
                            "type": "number",
                            "example": 73.319853989
                          },
                          "pair_created": {
                            "type": "integer",
                            "example": 1750286951
                          },
                          "mcap": {
                            "type": "number",
                            "example": 31349957.196378037
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Validation Failed"
                    },
                    "detail": {
                      "type": "string",
                      "default": "One or more fields failed validation."
                    },
                    "invalid_fields": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "default": "Field required"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Missing API key"
                    },
                    "detail": {
                      "type": "string",
                      "default": "API key is required. Provide it in X-API-Key header."
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T10:50:10.607351+00:00"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Rate limit exceeded for endpoint"
                    },
                    "endpoint": {
                      "type": "string",
                      "example": "{endpoint}"
                    },
                    "retry_after": {
                      "type": "string",
                      "example": "10"
                    },
                    "current_usage": {
                      "type": "string",
                      "example": "1"
                    },
                    "limit": {
                      "type": "string",
                      "example": "1"
                    },
                    "reset_time": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/twitter/kol-performance": {
      "get": {
        "tags": [
          "Free APIs",
          "KOL Index"
        ],
        "summary": "Fetch KOL performance index",
        "description": "Get Key Opinion Leader performance ranking",
        "operationId": "getKolPerformance",
        "parameters": [
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "90d"
              ]
            },
            "description": "Time window"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (max 20 items/page)"
          }
        ],
        "responses": {
          "200": {
            "description": "KOL performance returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kols": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "kol_id": {
                            "type": "string",
                            "example": "1375447101199499266"
                          },
                          "total_mentions": {
                            "type": "integer",
                            "example": 4
                          },
                          "top_performing_token_id": {
                            "type": "string",
                            "example": "71Jvq4Epe2FCJ7JFSF7jLXdNk1Wy4Bhqd9iL6bEFELvg"
                          },
                          "avg_roi": {
                            "type": "string",
                            "example": "515.4402327007739306574220445"
                          },
                          "success_rate": {
                            "type": "number",
                            "example": 50
                          },
                          "highest_roi": {
                            "type": "string",
                            "example": "2035.243841404020697745613116"
                          },
                          "lowest_roi": {
                            "type": "string",
                            "example": "-9.076674716784055195634838414"
                          },
                          "top_performing_token_name": {
                            "type": "string",
                            "example": "Gorbagana"
                          },
                          "top_performing_token_symbol": {
                            "type": "string",
                            "example": "GOR"
                          },
                          "top_performing_token_icon": {
                            "type": "string",
                            "example": "https://upward-sport-headed.quicknode-ipfs.com/ipfs/QmQAtMVZPjsfaTJM9QErBdVqHi1bD9FCBZDr5uzGV96zhU"
                          },
                          "top_performing_token_chain": {
                            "type": "string",
                            "example": "SOLANA"
                          },
                          "top_performing_token_pair": {
                            "type": "string",
                            "example": "CpaQjgRZuVJ9yv4ewnZXuFhoy2VUwr4pStbTSHvHtK4w"
                          },
                          "profile_name": {
                            "type": "string",
                            "example": "veigar_crypto"
                          },
                          "username": {
                            "type": "string",
                            "example": "veigarcrypto"
                          },
                          "followers": {
                            "type": "string",
                            "example": "23880"
                          },
                          "profile_image_url": {
                            "type": "string",
                            "example": "https://pbs.twimg.com/profile_images/1768691637658497024/dOBLEVjo_normal.jpg"
                          },
                          "win": {
                            "type": "integer",
                            "example": 2
                          },
                          "loss": {
                            "type": "integer",
                            "example": 2
                          },
                          "total_tokens": {
                            "type": "integer",
                            "example": 4
                          },
                          "smart_follower_count": {
                            "type": "integer",
                            "example": 17
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Validation Failed"
                    },
                    "detail": {
                      "type": "string",
                      "default": "One or more fields failed validation."
                    },
                    "invalid_fields": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "default": "Field required"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Missing API key"
                    },
                    "detail": {
                      "type": "string",
                      "default": "API key is required. Provide it in X-API-Key header."
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T10:50:10.607351+00:00"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Rate limit exceeded"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Rate limit exceeded for endpoint"
                    },
                    "endpoint": {
                      "type": "string",
                      "example": "{endpoint}"
                    },
                    "retry_after": {
                      "type": "string",
                      "example": "10"
                    },
                    "current_usage": {
                      "type": "string",
                      "example": "1"
                    },
                    "limit": {
                      "type": "string",
                      "example": "1"
                    },
                    "reset_time": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/twitter/kol-details": {
      "get": {
        "tags": [
          "Free APIs",
          "KOL Details"
        ],
        "summary": "Fetch individual KOL details",
        "description": "Get individual KOL token movements",
        "operationId": "getKolDetails",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "KOL username"
          },
          {
            "name": "duration",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1d",
                "7d",
                "30d",
                "90d"
              ]
            },
            "description": "Time window"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (max 5 items/page)"
          }
        ],
        "responses": {
          "200": {
            "description": "KOL details returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mentions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "number",
                            "example": 1750344448
                          },
                          "username": {
                            "type": "string",
                            "example": "rutradebtc"
                          },
                          "profile_image_url": {
                            "type": "string",
                            "example": "https://pbs.twimg.com/profile_images/1697589180971294720/W_73yBPQ_normal.jpg"
                          },
                          "usd_price": {
                            "type": "string",
                            "example": "0.004144829907"
                          },
                          "tweet_link": {
                            "type": "string",
                            "example": "https://twitter.com/rutradebtc/status/1935794078924652555"
                          },
                          "sentiment": {
                            "type": "string",
                            "example": "positive"
                          },
                          "mcap": {
                            "type": "string",
                            "example": "4144787.010235278865798323228"
                          },
                          "token_id": {
                            "type": "string",
                            "example": "HtTYHz1Kf3rrQo6AqDLmss7gq5WrkWAaXn3tupUZbonk"
                          },
                          "pair_id": {
                            "type": "string",
                            "example": "J28smrHeDLYHPZCJLVHExsiMifEDswFHobHpEQrYHdjL"
                          },
                          "chain": {
                            "type": "string",
                            "example": "SOLANA"
                          },
                          "token_symbol": {
                            "type": "string",
                            "example": "KORI"
                          },
                          "other_data": {
                            "type": "object",
                            "properties": {
                              "first_mention_mcap": {
                                "type": "string",
                                "example": "4144787.010235278865798323228"
                              },
                              "_24h_impcat": {
                                "type": "string",
                                "example": "-12.79758487276426182494958893"
                              },
                              "_3d_impact": {
                                "type": "string",
                                "example": "-12.79758487276426182494958893"
                              },
                              "_7d_impact": {
                                "type": "string",
                                "example": "-12.79758487276426182494958893"
                              },
                              "_14d_impact": {
                                "type": "string",
                                "example": "-12.79758487276426182494958893"
                              },
                              "_30d_impact": {
                                "type": "string",
                                "example": "-12.79758487276426182494958893"
                              },
                              "_90d_impact": {
                                "type": "string",
                                "example": "-12.79758487276426182494958893"
                              },
                              "first_mention_sentiment": {
                                "type": "string",
                                "example": "positive"
                              },
                              "first_mention_price": {
                                "type": "string",
                                "example": "0.004144829907"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Validation Failed"
                    },
                    "detail": {
                      "type": "string",
                      "default": "One or more fields failed validation."
                    },
                    "invalid_fields": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "default": "Field required"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T08:43:01.335028+00:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "default": "Missing API key"
                    },
                    "detail": {
                      "type": "string",
                      "default": "API key is required. Provide it in X-API-Key header."
                    },
                    "timestamp": {
                      "type": "string",
                      "default": "2025-06-20T10:50:10.607351+00:00"
                    }
                  }
[...]
